.box{
 
  display:flex;
  flex-direction: column;
text-align: center;
  align-items: center;

}
img{
  height: auto;
  width: 20vw;

}

.titleImg{
  min-width: 200px;
}
form{

  background-color: $secondary-color;
  border-radius: 10px;
  width: 80vw;
  margin: 10px 0;

  
  input{
    margin: 5px;
  }

  button{
    margin:2px 10px;
    background-color: $secondary-color;
    color:white;
    border-radius: 5px;
    padding: 3px 5px;
    border: 1px white solid;

    &:hover{
      background-color: lighten($secondary-color, 10%);
    }
  }
  
}


.character_container{
  display: grid;
  width: 80vw;
  height: auto;


  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 1rem;


  .item{
    padding: 10px;
    background-color: $secondary-color;
    overflow: hidden;
    cursor: pointer;
    border-radius: 3%;

&:hover {
  background-color: lighten($secondary-color, 10%);
}

img{
  height: auto;
  width: 80%;
}
}
}

