@include media-md {
  .character_container{

    height: auto;
     grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(5, 1fr);

  }

  .info_box{
    // background-color: black;
    display: flex;
    flex-direction: row;
  }

  
}


@include media-lg {
  .character_container{
    height: 70vh;
    grid-template-columns: repeat(5, 1fr);
    // grid-template-rows: repeat(2, 1fr);

  }
  

}

@include media-xl {


}