@include media-md {
  .character_container{
  

     grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);

  }

  .info_box{
   
    display: flex;
    flex-direction: row;
  }

  
}


@include media-lg {
  .character_container{
    height: 70vh;


  }
  

}

@include media-xl {


}